
<templates>
    <template name="qui-side-nav">
        <nav class="cd-side-nav nav-is-visible">
            <ul>
                <li class="cd-label">Main</li>
                <li class="has-children overview">
                    <a href="#0">Overview</a>
                    <ul>
                        <li><a href="#0">All Data</a></li>
                        <li><a href="#0">Category 1</a></li>
                        <li><a href="#0">Category 2</a></li>
                    </ul>
                </li>
                <li class="has-children notifications active">
                    <a href="#0">Notifications<span class="count">3</span></a>
                    <ul>
                        <li><a href="#0">All Notifications</a></li>
                        <li><a href="#0">Friends</a></li>
                        <li><a href="#0">Other</a></li>
                    </ul>
                </li>

                <li class="has-children comments">
                    <a href="#0">Comments</a>
                    <ul>
                        <li><a href="#0">All Comments</a></li>
                        <li><a href="#0">Edit Comment</a></li>
                        <li><a href="#0">Delete Comment</a></li>
                    </ul>
                </li>
            </ul>

            <ul>
                <li class="cd-label">Secondary</li>
                <li class="has-children bookmarks">
                    <a href="#0">Bookmarks</a>

                    <ul>
                        <li><a href="#0">All Bookmarks</a></li>
                        <li><a href="#0">Edit Bookmark</a></li>
                        <li><a href="#0">Import Bookmark</a></li>
                    </ul>
                </li>
                <li class="has-children images">
                    <a href="#0">Images</a>

                    <ul>
                        <li><a href="#0">All Images</a></li>
                        <li><a href="#0">Edit Image</a></li>
                    </ul>
                </li>

                <li class="has-children users">
                    <a href="#0">Users</a>

                    <ul>
                        <li><a href="#0">All Users</a></li>
                        <li><a href="#0">Edit User</a></li>
                        <li><a href="#0">Add User</a></li>
                    </ul>
                </li>
            </ul>

            <ul>
                <li class="cd-label">Action</li>
                <li class="action-btn"><a href="#0">+ Button</a></li>
            </ul>
        </nav>
    </template>
</templates>



